# Locally generated VM Images
r3proii/qemu/initrd.cpio
r3proii/qemu/rootfs-image

r3ii_2025/qemu/initrd.cpio
r3ii_2025/qemu/rootfs-image

r1/qemu/initrd.cpio
r1/qemu/rootfs-image

# User Custom Firmwares
r3proii/firmware/custom/*
!r3proii/firmware/custom/.gitkeep

r3ii_2025/firmware/custom/*
!r3ii_2025/firmware/custom/.gitkeep

r1/firmware/custom/*
!r1/firmware/custom/.gitkeep

# Unpacking and Repacking Outputs
r3proii/unpacking_and_repacking/r3proii.upt
r3proii/unpacking_and_repacking/xImage
r3proii/unpacking_and_repacking/squashfs-root/

r3ii_2025/unpacking_and_repacking/r3ii_2025.upt
r3ii_2025/unpacking_and_repacking/xImage
r3ii_2025/unpacking_and_repacking/squashfs-root/

r1/unpacking_and_repacking/r1.upt
r1/unpacking_and_repacking/xImage
r1/unpacking_and_repacking/squashfs-root/

# Decompressed ISO (not 100% sure if this is necessary)
r3proii/original_firmware/ota_v0/
r3proii/original_firmware/ota_config.in

r3ii_2025/original_firmware/ota_v0/
r3ii_2025/original_firmware/ota_config.in

r1/original_firmware/ota_v0/
r1/original_firmware/ota_config.in

# Claude Code
.claude/
